<div class="container card-realisation-1">
  <div class="card-trip">
    <%= image_tag("clim-silencieuse.jpg") %>
    <div class="card-trip-infos">
      <div>
        <h2>Saint-Raphaël</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <%= image_tag("climatisation-cassette.jpeg") %>
    <div class="card-trip-infos">
      <div>
        <h2>Saint-Raphaël</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <%= image_tag("dessin-technique.jpg") %>
    <div class="card-trip-infos">
      <div>
        <h2>Saint-Raphaël</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <%= image_tag("climatisation-murale.jpeg") %>
    <div class="card-trip-infos">
      <div>
        <h2>Saint-Raphaël</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <%= image_tag("climatisation-console.jpeg") %>
    <div class="card-trip-infos">
      <div>
        <h2>Saint-Raphaël</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <%= image_tag("climatisation-gainable.jpeg") %>
    <div class="card-trip-infos">
      <div>
        <h2>Saint-Raphaël</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <%= image_tag("living-room-drawing.jpg") %>
    <div class="card-trip-infos">
      <div>
        <h2>Saint-Raphaël</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <%= image_tag("climatisation-murale.jpeg") %>
    <div class="card-trip-infos">
      <div>
        <h2>Saint-Raphaël</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>
</div>
