<div class="footer" id="noustrouver">
  <%# <div class="element-information"> %>
    <div class="footer-element footer-links">
        <div class="footer-title">
            <h3>Nos services</h3>
        </div>
        <div class="footer-link">
            <ul>
                <li><i class="fa-solid fa-circle-chevron-right" style="color: #2576ce;"></i><%= link_to "Installation", installation_climatisation_path, style: "padding-left: 14px;" %></li>
                <li><i class="fa-solid fa-circle-chevron-right" style="color: #2576ce;"></i><%= link_to "Maintenance", maintenance_nettoyage_climatisation_path, style: "padding-left: 14px;" %></li>
                <li><i class="fa-solid fa-circle-chevron-right" style="color: #2576ce;"></i><%= link_to "Nettoyage", maintenance_nettoyage_climatisation_path, style: "padding-left: 14px;" %></li>
                <li><i class="fa-solid fa-circle-chevron-right" style="color: #2576ce;"></i><%= link_to "Dépannage", depannage_climatisation_path, style: "padding-left: 14px;" %></li>
            </ul>
        </div>
    </div>
    <div class="footer-element footer-text">
        <div class="footer-title">
            <h3>Contact</h3>
        </div>
        <div class="footer-information">
            <ul>
              <li><i class="fa-solid fa-phone" style="color: #2576ce;"></i><span style="padding-left: 14px;">06 11 96 44 86</span></li>
              <li><i class="fa-solid fa-envelope" style="color: #2576ce;"></i><span style="padding-left: 14px;">contact@davidclim.fr</span></li>
              <li><i class="fa-solid fa-clock" style="color: #2576ce;"></i><span style="padding-left: 14px;">Lundi - Vendredi : 8h30/ 19h</span></li>
            </ul>
        </div>
    </div>
  <div class="footer-element logo-footer">
    <%= image_tag "logo_name.png" %>
    <%# <p>Spécialisé dans la climatisation, David Clim intervient auprès des particuliers et professionnels. Nous intervenons à Fréjus / Saint-Raphaël et alentours.</p> %>
    <p>David Clim : Votre Expert en Climatisation. <br>Nous basés à Fréjus et intervenons dans le Var et les Alpes-Maritimes</p>
  </div>
</div>
  <%# </div> %>
  <%# <div class="footer-element social-icons">
    <a href='https://www.facebook.com/atoutjardins' target='_blank'><i class="fa-brands fa-square-facebook fa-lg" style="color: #ffffff;"></i></a>

  </div> %>
