<div class="footer-partners" >
    <div class="brands-list">
        <ul>
            <li><%= image_tag "hitachi-logo2.png" %></li>
            <li><%= image_tag "daikin-logo.png" %></li>
            <li><%= image_tag "mitsubishi-logo.png" %></li>
            <li><%= image_tag "toshiba-logo.png" %></li>
            <li><%= image_tag "airzone-logo.png" %></li>
            <li><%= image_tag "manipulateur_de_liquides_fluorigenes.png" %></li>
            <li><%= image_tag "tetris-assurance.png" %></li>
        </ul>
    </div>
</div>
